# ==========================================
# Application
# ==========================================
PROJECT_NAME=
PROJECT_VERSION=
API_V1_PREFIX=
DEBUG=
TIMEZONE=

# ==========================================
# Database
# ==========================================
DATABASE_URL=
SUPABASE_URL=


